%h4
  Terry Gilliam &mdash;
  %em Faust
%p
  Filmmaker and former Python Terry Gilliam's smash-hit production of Berlioz's Damnation of Faust for English National Opera has been one of the operatic highlights of 2011. Peter Hoare stars as Faust, with Christopher Purves as Mephistopheles, who propels him on a rollercoaster ride through German history, ending with the rise of Hitler and Faust's inevitable damnation. Edward Gardner conducts the ENO Chorus and Orchestra. 
%p
  %em Christopher appears at the beginning, and 32 minutes in.
= youtube "Xlnk4zbiowY"

%h4
  Wagner &mdash; 
  %em Die Meistersinger von Nürnberg
= youtube "T0A_BEEFxGo"
%p
  = link_to "Part 2", "http://www.youtube.com/watch?v=zuDJxCZCbnw"
  ,
  = link_to "Part 3", "http://www.youtube.com/watch?feature=player_detailpage&list=PL58FB9326DEA5A0A2&v=MNonY52pBDQ#t=379s"
  ,
  = link_to "Part 4", "http://www.youtube.com/watch?v=_sA-RCQ56sA&list=PL58FB9326DEA5A0A2&feature=player_detailpage#t=1659s"
  ,
  = link_to "Part 5", "http://www.youtube.com/watch?feature=player_detailpage&list=PL58FB9326DEA5A0A2&v=TXNaVmhL5w0#t=1178s"

%h4 
  Verdi &mdash; 
  %em Falstaff
%p From Glyndebourne Festival Opera 2009
= youtube "ofQk3QOOEYI"
= youtube "vX5DlBZK52o"

%h4 
  Purcell &mdash; 
  %em King Arthur
%p Cold Genius Aria "What power art thou"
= youtube "NUo2EudwBJU"

%h4
  Purcell &mdash;
  %em Barockfest der Stimmen
= youtube "jBEAEcr53q4"

%h4
  Handel &mdash;
  %em Why do the Nations
%p Oratorio Messiah
= youtube "Wr4goyMh4mU"